* {
  letter-spacing: .5px;
}

.landingpage {
  background-color: #fff;
}

.landingpage .container-2, .landingpage .container-3, .landingpage .container-4 {
  background-color: #f0f0f0;
}

.landingpage .container .section-1 {
  margin-top: 80px;
}

@media (max-width: 991px) {
  .landingpage .container .section-1 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .landingpage .container .section-1 .sizer {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
  }
}

.landingpage .container .section-1 .first-col .free-trial {
  font-size: 12px;
  color: #5f6368;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.landingpage .container .section-1 .first-col .heading {
  font-size: 54px;
  font-weight: bold;
  color: #202124;
  margin-bottom: 16px;
}

@media (max-width: 991px) {
  .landingpage .container .section-1 .first-col .heading {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .first-col .heading {
    font-size: 36px;
  }
}

.landingpage .container .section-1 .first-col .sub-heading {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .first-col .sub-heading {
    font-size: 16px;
  }
}

.landingpage .container .section-1 .first-col .btns-containers-container {
  display: flex;
}

@media (max-width: 991px) {
  .landingpage .container .section-1 .first-col .btns-containers-container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .first-col .btns-containers-container {
    font-size: 18px;
  }
}

.landingpage .container .section-1 .first-col .btns-containers-container .btn-container .first-btn {
  width: 150px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #fff;
  background-color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .first-col .btns-containers-container .btn-container .first-btn {
    width: 130px;
    padding: 12px 0;
    font-size: 12px;
  }
}

.landingpage .container .section-1 .first-col .btns-containers-container .btn-container .first-btn:hover {
  background-color: #3d3d4e;
}

.landingpage .container .section-1 .first-col .btns-containers-container .btn-container .second-btn {
  width: 170px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #1e1f26;
  border: 0.1rem solid #1e1f26;
  margin-left: 24px;
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .first-col .btns-containers-container .btn-container .second-btn {
    width: 120px;
    padding: 12px 0;
    font-size: 12px;
  }
}

.landingpage .container .section-1 .second-col img {
  width: 100%;
}

@media (max-width: 991px) {
  .landingpage .container .section-1 .second-col {
    margin-top: 120px;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-1 .second-col {
    margin-top: 40px;
  }
}

.landingpage .container .section-2 {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .landingpage .container .section-2 {
    margin-top: 40px;
  }
}

.landingpage .container .section-2 .collaboration-container {
  text-align: center;
  color: #202124;
  font-weight: 500;
}

.landingpage .container .section-2 .collaboration-container .h2 {
  font-size: 34px;
  color: #202124;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landingpage .container .section-2 .collaboration-container .h2 {
    font-size: 28px;
  }
}

.landingpage .container .section-2 .collaboration-container .sup-heading {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .landingpage .container .section-2 .collaboration-container .sup-heading {
    font-size: 16px;
  }
}

.landingpage .container .section-2 .collaboration-container .collab-container {
  height: 80px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f6368;
  user-select: none;
}

.landingpage .container .section-2 .collaboration-container .collab-container span {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.landingpage .container .section-3 {
  margin-top: 120px;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .landingpage .container .section-3 {
    margin-top: 40px;
  }
}

.landingpage .container .section-3 .card-container {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1), -10px -10px 30px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.landingpage .container .section-3 .card-container .first-col {
  padding: 20px;
}

@media (max-width: 991px) {
  .landingpage .container .section-3 .card-container .first-col .sizer {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}

.landingpage .container .section-3 .card-container .first-col .h2 {
  font-size: 32px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landingpage .container .section-3 .card-container .first-col .h2 {
    font-size: 28px;
  }
}

@media (min-width: 1140px) {
  .landingpage .container .section-3 .card-container .first-col .h2 {
    font-size: 40px;
  }
}

.landingpage .container .section-3 .card-container .first-col .sub-heading {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .landingpage .container .section-3 .card-container .first-col .sub-heading {
    font-size: 16px;
  }
}

.landingpage .container .section-3 .card-container .first-col .btns-containers-container {
  display: flex;
}

@media (max-width: 991px) {
  .landingpage .container .section-3 .card-container .first-col .btns-containers-container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-3 .card-container .first-col .btns-containers-container {
    font-size: 18px;
  }
}

.landingpage .container .section-3 .card-container .first-col .btns-containers-container .btn-container .first-btn {
  width: 150px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #fff;
  background-color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 767px) {
  .landingpage .container .section-3 .card-container .first-col .btns-containers-container .btn-container .first-btn {
    width: 130px;
    padding: 12px 0;
    font-size: 12px;
  }
}

.landingpage .container .section-3 .card-container .first-col .btns-containers-container .btn-container .first-btn:hover {
  background-color: #3d3d4e;
}

@media (max-width: 991px) {
  .landingpage .container .section-3 .card-container .second-col {
    margin-top: 0px;
  }
}

.landingpage .container .section-3 .card-container .second-col img {
  width: 100%;
  height: 400px;
}

.landingpage .container .section-4 {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 {
    margin-top: 40px;
  }
}

.landingpage .container .section-4 .card-container-1 {
  padding: 16px;
}

.landingpage .container .section-4 .card-container-1 .first-col {
  padding: 20px;
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer {
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer .feature {
  font-size: 12px;
  color: #5f6368;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer .h2 {
  font-size: 34px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .h2 {
    font-size: 28px;
  }
}

@media (min-width: 1140px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .h2 {
    font-size: 40px;
  }
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer .text-block {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .text-block {
    font-size: 16px;
  }
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer .btns-containers-container {
  display: flex;
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .btns-containers-container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .btns-containers-container {
    font-size: 18px;
  }
}

.landingpage .container .section-4 .card-container-1 .first-col .sizer .btns-containers-container .btn-container .btn {
  width: 150px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-1 .first-col .sizer .btns-containers-container .btn-container .btn {
    width: 120px;
    padding: 12px 0;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-1 .second-col {
    margin-top: 0px;
  }
}

.landingpage .container .section-4 .card-container-1 .second-col img {
  width: 100%;
  height: 100%;
}

.landingpage .container .section-4 .card-container-2 {
  padding: 16px;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-2 {
    margin-top: 0px;
  }
}

.landingpage .container .section-4 .card-container-2 .first-col {
  padding: 20px;
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer {
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer .feature {
  font-size: 12px;
  color: #5f6368;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer .h2 {
  font-size: 34px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .h2 {
    font-size: 28px;
  }
}

@media (min-width: 1140px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .h2 {
    font-size: 40px;
  }
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer .text-block {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .text-block {
    font-size: 16px;
  }
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer .btns-containers-container {
  display: flex;
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .btns-containers-container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .btns-containers-container {
    font-size: 18px;
  }
}

.landingpage .container .section-4 .card-container-2 .first-col .sizer .btns-containers-container .btn-container .btn {
  width: 150px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 767px) {
  .landingpage .container .section-4 .card-container-2 .first-col .sizer .btns-containers-container .btn-container .btn {
    width: 120px;
    padding: 12px 0;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .landingpage .container .section-4 .card-container-2 .second-col {
    margin-top: 0px;
  }
}

.landingpage .container .section-4 .card-container-2 .second-col img {
  width: 100%;
  height: 100%;
}

.landingpage .container .section-5 {
  margin-top: 120px;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 {
    margin-top: 40px;
  }
}

.landingpage .container .section-5 .card-container {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1), -10px -10px 30px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.landingpage .container .section-5 .card-container .first-col {
  padding: 20px;
}

@media (max-width: 991px) {
  .landingpage .container .section-5 .card-container .first-col .sizer {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}

.landingpage .container .section-5 .card-container .first-col .h2 {
  font-size: 32px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .first-col .h2 {
    font-size: 28px;
  }
}

@media (min-width: 1140px) {
  .landingpage .container .section-5 .card-container .first-col .h2 {
    font-size: 40px;
  }
}

.landingpage .container .section-5 .card-container .first-col .sub-heading {
  font-size: 18px;
  color: #5f6368;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .first-col .sub-heading {
    font-size: 16px;
  }
}

.landingpage .container .section-5 .card-container .first-col .btns-containers-container {
  display: flex;
}

@media (max-width: 991px) {
  .landingpage .container .section-5 .card-container .first-col .btns-containers-container {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .first-col .btns-containers-container {
    font-size: 18px;
  }
}

.landingpage .container .section-5 .card-container .first-col .btns-containers-container .btn-container .first-btn {
  width: 170px;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 600 !important;
  color: #fff;
  background-color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .first-col .btns-containers-container .btn-container .first-btn {
    width: 130px;
    padding: 12px 0;
    font-size: 12px;
  }
}

.landingpage .container .section-5 .card-container .first-col .btns-containers-container .btn-container .first-btn:hover {
  background-color: #3d3d4e;
}

.landingpage .container .section-5 .card-container .second-col {
  padding: 20px;
}

@media (max-width: 991px) {
  .landingpage .container .section-5 .card-container .second-col .sizer {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}

.landingpage .container .section-5 .card-container .second-col .sizer .row-inside-sizer .cols .h2 {
  font-size: 20px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 10px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .second-col .sizer .row-inside-sizer .cols .h2 {
    font-size: 18px;
  }
}

.landingpage .container .section-5 .card-container .second-col .sizer .row-inside-sizer .cols .sub-heading {
  font-size: 16px;
  color: #5f6368;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .landingpage .container .section-5 .card-container .second-col .sizer .row-inside-sizer .cols .sub-heading {
    font-size: 14px;
  }
}

.landingpage .container .section-6 {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .landingpage .container .section-6 {
    margin-top: 40px;
  }
}

.landingpage .container .section-6 .additional-value {
  text-align: center;
  color: #202124;
  font-weight: 500;
}

.landingpage .container .section-6 .additional-value .h2 {
  font-size: 40px;
  color: #202124;
  font-weight: 600 !important;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .landingpage .container .section-6 .additional-value .h2 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .landingpage .container .section-6 .additional-value .h2 {
    font-size: 34px;
  }
}

.landingpage .container .section-6 .additional-value .swiper {
  height: 450px;
}

.landingpage .container .section-6 .additional-value .swiper ::-webkit-scrollbar,
.landingpage .container .section-6 .additional-value .swiper ::-webkit-scrollbar-track,
.landingpage .container .section-6 .additional-value .swiper ::-webkit-scrollbar-thumb,
.landingpage .container .section-6 .additional-value .swiper .swiper-scrollbar-drag,
.landingpage .container .section-6 .additional-value .swiper .swiper-scrollbar {
  display: none;
}

.landingpage .container .section-6 .additional-value .swiper .swiper-pagination-bullet-active {
  color: #191A1C;
  background-color: #191A1C;
}

.landingpage .container .section-6 .additional-value .swiper .swiper-slide {
  height: 400px;
}

.landingpage .container .section-6 .additional-value .swiper .card .card-header {
  overflow: hidden;
  padding: 0;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.landingpage .container .section-6 .additional-value .swiper .card .card-header img {
  width: 100%;
}

.landingpage .container .section-6 .additional-value .swiper .card .card-body .card-heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500 !important;
  letter-spacing: -0.25px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .landingpage .container .section-6 .additional-value .swiper .card .card-body .card-heading {
    font-size: 22px;
  }
}

@media (min-width: 1140px) {
  .landingpage .container .section-6 .additional-value .swiper .card .card-body .card-heading {
    font-size: 24px;
  }
}

.landingpage .container .section-6 .additional-value .swiper .card .card-body .card-context {
  font-size: 16px;
  color: #5f6368;
  line-height: 28px;
}

@media (min-width: 768px) {
  .landingpage .container .section-6 .additional-value .swiper .card .card-body .card-context {
    font-size: 18px;
  }
}

.landingpage .container .section-6 .additional-value .swiper .swiper-button-prev, .landingpage .container .section-6 .additional-value .swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1), -10px -10px 30px rgba(255, 255, 255, 0.5);
}

.landingpage .container .section-6 .additional-value .swiper .swiper-button-prev::after, .landingpage .container .section-6 .additional-value .swiper .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
  color: #191A1C;
}

.landingpage .container .section-7 {
  margin-top: 120px;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .landingpage .container .section-7 {
    margin-top: 40px;
  }
}
