* {
  transition: none;
}

.footer {
  width: 100%;
  padding: 32px;
  font-size: 14px;
  letter-spacing: .3px;
  font-weight: 500;
  color: #212529;
  margin-top: 120px;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 40px;
  }
}

@media (max-width: 574px) {
  .footer {
    padding: 32px 0;
  }
}

.footer a {
  color: #525258;
}

.footer a:hover {
  color: #000000;
}

.footer .row-header {
  color: #202124;
  font-size: 16px;
}

.footer .logo {
  color: #212529;
}

.footer .first-col .first-col-1 .logo {
  font-size: 26px;
  font-weight: bold;
  color: #212529;
}

.footer .first-col .first-col-1 .deployed-on-container {
  margin: 24px 0;
}

.footer .first-col .first-col-1 .deployed-on-container .vercel-logo {
  color: #212529;
}

.footer .first-col .first-col-1 .deployed-on-container .vercel-logo svg {
  color: #212529;
}

.footer .first-col .first-col-1 img {
  color: #52525b;
}

.footer .first-col .first-col-2 {
  padding: 0 0 80px;
}

.footer .first-col .first-col-2 li {
  display: flex;
  margin: 16px 0;
  width: 100%;
}

.footer .first-col .first-col-2 li a {
  text-decoration: none;
  display: block;
  width: inherit;
}
