::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input, textarea, select {
  box-shadow: none !important;
  outline: none !important;
}

input:hover, textarea:hover, select:hover {
  box-shadow: none !important;
  outline: none !important;
}

input:focus, textarea:focus, select:focus {
  box-shadow: none !important;
  outline: none !important;
}

.login {
  background-color: #fff;
}

.login .columns {
  min-height: 100vh;
}

.login .columns .contexts-container {
  max-width: 416px;
  width: 100%;
}

@media (min-width: 992px) {
  .login .columns .contexts-container {
    padding: 30px;
  }
}

@media (max-width: 524px) {
  .login .columns .contexts-container {
    padding: 30px;
  }
}

.login .columns .contexts-container h2 {
  margin-top: 40px;
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bold;
}

.login .columns .contexts-container .auth-connection .auth-google-btn {
  background-color: #0d0c22;
  padding: 18px 20px;
  width: 100%;
  border-radius: 999px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.login .columns .contexts-container .auth-connection .auth-google-btn:hover {
  background-color: #3d3d4e;
}

.login .columns .contexts-container .or-container {
  padding: 30px 0;
  color: #3d3d4e;
  font-size: 12px;
}

.login .columns .contexts-container .auth-email {
  margin-bottom: 40px;
}

.login .columns .contexts-container .auth-email .auth-email-btn {
  background-color: #fff;
  padding: 18px 20px;
  width: 100%;
  border-radius: 999px;
  color: #0d0c22;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #0d0c22;
}

.login .columns .contexts-container .terms-text-container {
  margin-top: 20px;
  font-size: 12px;
  color: #3d3d4e;
  line-height: 18px;
  opacity: .9;
}

.login .columns .contexts-container .terms-text-container .links {
  color: #0d0c22;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 500;
}

.login .columns .contexts-container .acc-check {
  margin-top: 20px;
  color: #3d3d4e;
  font-size: 14px;
}

.login .columns .contexts-container .acc-check .links {
  color: #0d0c22;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
}

.login .columns .email-mood .back-btn-container {
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
}

.login .columns .email-mood .back-btn-container .back-btn {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.login .columns .email-mood .cols {
  margin-bottom: 24px;
}

.login .columns .email-mood .cols .label {
  margin: 14px 0 4px;
  font-size: 15px;
  font-weight: bold;
}

.login .columns .email-mood .cols .input {
  font-size: 12px;
  border: 1px solid #c4c4c4;
  padding: 18px 20px;
  border-radius: 8px;
}

.login .columns .email-mood .auth-email-submit-container .auth-email-submit {
  background-color: #0d0c22;
  padding: 18px 20px;
  width: 100%;
  border-radius: 999px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.login .columns .email-mood .auth-email-submit-container .auth-email-submit:hover {
  background-color: #3d3d4e;
}

.login .columns .email-mood .termsCheckBox {
  width: 25px;
  aspect-ratio: 1/1;
  border: 1px solid #c4c4c4;
}

.login .columns .email-mood .form-check {
  margin-bottom: 24px;
}

.login .columns .email-mood .form-check-label {
  font-size: 14px;
  color: #3d3d4e;
  line-height: 18px;
  opacity: .9;
  line-height: 18px;
}

.login .columns .email-mood .form-check-label .links {
  color: #0d0c22;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
}

.login .columns .email-mood .acc-check {
  margin-top: 0;
}

.login .columns .cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.login .fixed-position {
  width: inherit;
  position: fixed;
  top: 0;
  bottom: 0;
}
