.gettingstartedloader {
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  padding: 12px;
}

.gettingstartedloader .card {
  width: 100%;
  max-width: 416px;
}

.gettingstartedloader .card .card-body .loadant-container .loader {
  height: inherit !important;
}

.gettingstartedloader .card .card-body .texts-loadants-container {
  margin-top: 63px;
  transition: .5s;
  animation: loadantAnimation 2s 1.5s linear forwards;
}

.gettingstartedloader .card .card-body .texts-loadants-container .loadant {
  font-size: .9rem;
  margin: 10px 0;
  font-weight: 550 !important;
}

@keyframes loadantAnimation {
  0% {
    margin-top: 63px;
  }
  10% {
    margin-top: 63px;
  }
  20% {
    margin-top: 63px;
  }
  30% {
    margin-top: 63px;
  }
  40% {
    margin-top: 63px;
  }
  50% {
    margin-top: 0;
  }
  60% {
    margin-top: 0;
  }
  70% {
    margin-top: 0;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -63px;
  }
  100% {
    margin-top: -63px;
  }
}

.gettingstartedloader .absolute-width-coverage {
  position: absolute;
  width: 100%;
}

.gettingstartedloader .absolute-width-coverage .center-transparency {
  height: 30px;
}

.gettingstartedloader .absolute-width-coverage .gradient {
  background-color: #fff;
  height: 30px;
}

.gettingstartedloader .absolute-width-coverage .gradient-core-1 {
  background-color: #ffffff9c;
  height: 30px;
}

.gettingstartedloader .absolute-width-coverage .gradient-core-2 {
  height: 30px;
  background-color: #ffffff9c;
}
