*::selection {
  background: #102a43;
  color: #d4af37;
}

*::-moz-selection {
  background: #102a43;
  color: #d4af37;
}

.nav-container {
  height: 90px;
}

.nav-container .navbar {
  padding: 12px 0;
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(15px);
}

.nav-container .navbar .container {
  padding: 10px;
}

.nav-container .navbar .container a {
  color: #000;
  text-decoration: none;
}

.nav-container .navbar .container .logo-container {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-container .navbar .container .navigators-container {
  margin-left: 60px;
  color: #cfcfd0;
}

.nav-container .navbar .container .navigators-container ul li a {
  color: #5f6368;
  user-select: none;
  font-weight: 500;
}

.nav-container .navbar .container .navigators-container ul li a:hover {
  color: #000;
}

.nav-container .navbar .container .auth-btns-container .login-btn-container .btn {
  width: 85px;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 500;
  color: #5f6368;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 991px) {
  .nav-container .navbar .container .auth-btns-container .login-btn-container .btn {
    width: 80px;
    padding: 8px 0;
    font-size: 12px;
  }
}

.nav-container .navbar .container .auth-btns-container .signup-btn-container .btn {
  width: 85px;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #1e1f26;
  border: 0.1rem solid #1e1f26;
}

@media (max-width: 991px) {
  .nav-container .navbar .container .auth-btns-container .signup-btn-container .btn {
    width: 80px;
    padding: 8px 0;
    font-size: 12px;
  }
}

.nav-container .navbar .container .auth-btns-container .signup-btn-container .btn:hover {
  background-color: #3d3d4e;
}

.nav-container .navbar .container .launch-offcanvas-btn-container .btn {
  padding: 0;
  font-size: 25px;
  border-radius: 12px;
  font-weight: 500;
  color: #5f6368;
  border: none;
}

.nav-container .sticky-mode {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 992px) {
  .offcanvas-backdrop {
    display: none !important;
  }
}

.offcanvas {
  max-width: 250px !important;
}

@media (min-width: 992px) {
  .offcanvas {
    display: none !important;
  }
}

.offcanvas .offcanvas-body {
  padding: 0;
}

.offcanvas .offcanvas-body .offcanvas-container {
  height: 100%;
  position: relative;
}

.offcanvas .offcanvas-body .offcanvas-container ul {
  width: inherit;
}

.offcanvas .offcanvas-body .offcanvas-container ul .nav-lists {
  display: block;
  width: inherit;
  height: 50px;
  transition: .2s ease-in-out;
}

.offcanvas .offcanvas-body .offcanvas-container ul .nav-lists:hover {
  background-color: rgba(81, 81, 81, 0.1);
}

.offcanvas .offcanvas-body .offcanvas-container ul .nav-lists a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas .offcanvas-body .offcanvas-container ul .copyright-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20px;
}

.offcanvas .offcanvas-body .offcanvas-container ul .copyright-container .special {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
