$logo-font-size: 24px;
$logo-font-weight: 500;
$link-font-size-sm: 14px;
$bg-color: #000;
$btn-dark-color: #1e1f26;
$plain-white: #fff;
$text-color: #3d3d4e;

* {
    // user-select: none;
    // // transition: .1s ease-in-out;
    &::selection {
        background: #102a43;
        color: #d4af37;
    }
    &::-moz-selection {
        background: #102a43;
        color: #d4af37;
    }
}





.nav-container {
    height: 90px;


    .navbar {
        padding: 12px 0;
        box-shadow: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(15px);

        .container {
            padding: 10px;
            a {
                color: #000;
                text-decoration: none;
            }
            .logo-container {
                font-size: $logo-font-size;
                letter-spacing: 1px;
                font-weight: $logo-font-weight;
                a {
                    // line-height: -10px;
                }
            }
            .navigators-container {
                margin-left: 60px;
                color: #cfcfd0;
                ul {
                    li {
                        a {
                            color: #5f6368;
                            user-select: none;
                            font-weight: 500;
                            &:hover {
                                color: $bg-color;
                            }
                        }
                    }
                }
            }
            .auth-btns-container {
                .login-btn-container {
                    .btn {
                        width: 85px;
                        padding: 10px 0;
                        font-size: $link-font-size-sm;
                        border-radius: 12px;
                        font-weight: 600 !important;
                        color: #5f6368;
                        border: 0.1rem solid $btn-dark-color;
                        @media (max-width: 991px) {
                            width: 80px;
                            padding: 8px 0;
                            font-size: 12px;
                        }
                    }
                }

                .signup-btn-container {
                    .btn {
                        width: 85px;
                        padding: 10px 0;
                        font-size: $link-font-size-sm;
                        border-radius: 12px;
                        font-weight: 600 !important;
                        color: $plain-white;
                        background-color: $btn-dark-color;
                        border: 0.1rem solid $btn-dark-color;
                        @media (max-width: 991px) {
                            width: 80px;
                            padding: 8px 0;
                            font-size: 12px;
                        }
                        &:hover {
                            background-color: $text-color;
                        }
                    }
                }
            }

            
            .launch-offcanvas-btn-container {
                .btn {
                    // width: 85px;
                    // padding: 0;
                    font-size: 25px;
                    border-radius: 12px;
                    font-weight: 500;
                    color: #5f6368;
                    border: none;
                }
            }
        }
    }
    
    .sticky-mode {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        z-index: 9;
        // border-bottom: 0.1rem solid #dee2e6;
    }
    .navbar-2 {
        padding: 12px 0;
        box-shadow: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: #ffffff;
    }
}

.offcanvas-backdrop {
    
    @media (min-width: 992px) {
        display: none !important;
    }
}
.offcanvas  {
    max-width: 250px !important;

    @media (min-width: 992px) {
        display: none !important;
    }

    .btn-close {
        box-shadow: none !important;
        outline: none !important;
        // border-color: inherit !important;
        &:hover {
            box-shadow: none !important;
            outline: none !important;
            // border-color: inherit !important;
        }
        &:focus {
            box-shadow: none !important;
            outline: none !important;
            // border-color: inherit !important;
        }
    }
    
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    .offcanvas-body {
        padding: 20px 5px 20px 5px;
        .offcanvas-container {
            height: 100%;
            position: relative;
            ul {
                width: inherit;

                .nav-lists {
                    display: block;
                    width: inherit;
                    height: 40px;
                    margin-bottom: 10px;
                    
                    a {
                        color: #5f6368;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 500 !important;
                        display: block;
                        width: 100%;
                        text-align: left;
                        height: inherit;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 0;
                        padding-left: 20px;
                        border-radius: 80px;
                        transition: .1s ease-in-out;
                        span {
                            color: #5f6368;
                            font-size: 18px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                    .active {
                        background-color: #1e1f26;
                        color: #f0f0f0;
                        span {
                            color: #f0f0f0;
                        }
                        &:hover {
                            background-color: #1e1f26;
                        }
                    }
                }
                .copyright-container {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    bottom: 20px;
                    .special {
                        text-align: center;
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}